:root {
    --color-blue: #849FFF;
    --color-white: #FFF;
    --text-color: #151B32;

    --font-family: Poppins, sans-serif;

    --transition-duration: .3s;

    --container-width: 1600px;
    --container-padding-x: 100px;
    --container-padding-y: 100px;

    --border-radius-small: 8px;
    --border-radius-medium: 16px
}