.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.link {
    white-space: nowrap;
}

.active {
    white-space: nowrap;
    color: var(--color-white);
    padding: 16px;
    background-color: var(--color-blue);
    border-radius: var(--border-radius-small);
}